<footer class="py-5">
    <div class="container py-md-5">
        <div class="footer-logo mb-5 text-center">
            <a class="navbar-brand" href="#">In <span class="display"> Trend</span></a>
        </div>
        <div class="footer-grid">
            <div class="social mb-4 text-center">
                <ul class="d-flex justify-content-center">
                    <li class="mx-2"><a href="https://www.facebook.com/" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                    <li class="mx-2"><a href="https://twitter.com/" target="_blank"><span class="fab fa-twitter"></span></a></li>
                    <li class="mx-2"><a href="https://github.com/lukavasic4/angular" target="_blank"><span class="fab fa-github"></span></a></li>
                    <li class="mx-2"><a href="https://www.linkedin.com/in/luka-vasi%C4%87-a890751a3/" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                    <li class="mx-2"><a href="https://www.instagram.com/" target="_blank"><span class="fab fa-instagram"></span></a></li>
                </ul>
            </div>
            <div class="list-footer">
                <ul class="footer-nav text-center">
                    <!-- @foreach($meni as $m)
                        @component("partials.link",[
                            "link" => $m
                        ]);
                        @endcomponent
                    @endforeach -->
                        <li class="nav-item">
                            <a class="nav-link" href="assets/AngularDokumentacija.pdf" target="_blank">Documentation</a>
                        </li>
                </ul>
            </div>
            <div class="agileits_w3layouts-copyright mt-4 text-center">
                <p>© 2020 Intrend. All Rights Reserved | Design by Luka Vasić</p>
            </div>
        </div>
    </div>
</footer>
